.about {
     padding: 3em 0 !important;
     background-color: rgb(0, 0, 0) !important;          
     height: max-content;     
}

.about h1 {
     color: white;
     font-size: 55px;
     letter-spacing: 0.2em;
}

.about p {
     max-width: 30em;
     height: max-content;
     padding: 3.7em 2.9em;     
     background-color: white;
     color: black;
     font-size: 17px;
     line-height: 28px;       
     text-align: justify;     
}

/* Breakpoints */
@media screen and (max-width: 767.98px) {
     .about h1 {          
          font-size: 40px;          
     }
}