.hero {
     padding: 2em 4em !important;
     background-color: rgb(0, 0, 0) !important;     
     height: max-content;
}

.hero-title {
     width: max-content;
     height: max-content;
     padding: 4em 4em;
     margin: 4.1em 0;
     background-color: white;
}

.hero-title h1 {
     font-size: 55px;
     line-height: 60px;
     letter-spacing: 0.04em;
     padding-top: 1em;
     padding-bottom: 1em;
}