.hero {
     padding: 2em 4em !important;
     background-color: rgb(0, 0, 0) !important;     
     height: max-content;
}

.hero-title {     
     padding: 4em 4em;     
     background-color: white;
}

.hero-title h1 {
     font-size: 55px;
     line-height: 60px;
     letter-spacing: 0.04em;
     padding-top: 1em;
     padding-bottom: 1em;
}

/* Breakpoints */
@media screen and (max-width: 767.98px) {
     .hero-title {
          padding: 3em 2em;
     }
     .hero-title h1 {
          line-height: 45px;          
          font-size: 41px;          
     }
}