.navbar {
     padding: 2em 4em !important;
     background-color: black;          
}

.nav-link {
     color: white !important;
     letter-spacing: 0.05em;
     font-size: 15px !important;
}

.nav-link:hover {
     color: rgba(255, 255, 255, 0.5) !important;
     letter-spacing: 0.05em;
     font-size: 15px !important;
}